# Ignorar directorio de configuración de Eclipse
.settings/

# Ignorar directorio binario
/bin/

# Ignorar archivo de configuración de Eclipse para clases
.classpath

# Ignorar archivo de proyecto de Eclipse
.project